name: Deploy to S3

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::226608812395:role/TransportOfChoice-Infra-Role
          aws-region: eu-west-1
          
      - name: Deploy to S3
        run: aws s3 sync . s3://transportofchoice-bucket --delete --exclude ".git/*" --exclude ".github/*"